body{
    text-align:center;
    background: hsl(212, 45%, 89%);

}
.main{
    font-family: 'Outfit', sans-serif;
     width: 200px;
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin: 0 auto;
    padding: 10px  ;
text-align: center;
border-radius: 20px;

    

}
#code-qr{
    display: block;
    width:200px;
    border-radius:10px;
     margin-left: auto;
    margin-right: auto;
}
 h3 {
     font-size: 15px;
      padding: 0px 10px;
      font-weight:700;
      color: hsl(218, 44%, 22%)
 }
p{

    font-size: 10px;
    margin-bottom: 10px;
    padding:0px 15px  10px 15px;
    color: hsl(220, 15%, 55%);
}